build/
dist/
src/resfinder.egg-info/
.DS_Store
blast-2.2.26
*.gz
*.pyc
__pycache__
__pypackages__
running_test
cge/kma
db_pointfinder*
db_resfinder*
db_disinfinder*
._*
doctest_tmp
scripts/wdl/cromwell-*
test01fa
.pdm.toml
*trash*
tests/tmp_out/*
