include README.md
include LICENSE
include database_tests.md
include amr_abbreviations.md
include src/resfinder/cge/*.md
include src/resfinder/cge/output/*.md
include src/resfinder/cge/phenotype2genotype/*.md
