[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cgelib = "*"
cgecore = "*"
tabulate = "*"
biopython = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
tqdm = "*"

[requires]
python_version = "3.10"

[scripts]
test = "python3 -m doctest cge/config.md"
build = "python3 setup.py sdist bdist_wheel" # Added line here
deploy = "twine upload dist/*" # Added line here
