[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cgelib = "*"
cgecore = "*"
tabulate = "*"
biopython = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
tqdm = "*"
build = "*"

[requires]
python_version = "3.10"

[scripts]
build = "python3 -m build"
deploy = "twine upload dist/*"
