[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cgelib = "0.3.0"
cgecore = "~=1.5"
tabulate = "*"
biopython = "*"
pandas = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
tqdm = "*"
build = "*"
pytest = "*"

[requires]
python_version = "3.10"

[scripts]
test = "python -m pytest"
build = "python3 -m build"
deploy = "twine upload dist/*"
deploy_test = "twine upload --repository testpypi dist/*"
